* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 100px auto 0;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
}

.space {
    background-color: white;
    min-width: 100px;
    max-width: 100px;
    max-height: 100px;
    min-height: 100px;
 
    font-size: xx-large;
    text-align: center;
    display: grid;
    align-items: center;
}

.space:nth-child(1) {
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.space:nth-child(2) {
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.space:nth-child(3) {
    border-bottom: 1px black solid;
}

.space:nth-child(4) {
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.space:nth-child(5) {
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

.space:nth-child(6) {
    border-bottom: 1px black solid;
}

.space:nth-child(7) {
    border-right: 1px black solid;
}

.space:nth-child(8) {
    border-right: 1px black solid;
}

.player-display {

    display: flex;
    height: 200px;
    justify-content: space-between;
}

.player-one,
.player-two {
    background-color: white;
    border: 1px red solid;
} 